<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    
    <script src="../../lib/js/vue.js"></script>
    
      <script src="../../lib/js/axios.min.js"></script>
      
        <script src="../../lib/js/vue-axios.es5.js"></script>

    <title>Ejemplo api rest con Vue</title>
</head>
<body>

<div id="app">

{{suscrito}}

	<div class="card">
                        <div class="card-header">
                            {{titulo}}
                        </div>
                       
                        <div class="card-body">
                            <div class="row mx-0">
                                <div class="col-8">
                                    <div class="form-group row align-items-center">
                                        <label for="nombre" class="col-3 mb-0">Nombre</label>
                            <input v-model="suscrito.nombre" type="text" class="form-control col-9" id="nombre"
                                        placeholder="Nombre" >
                                    </div>
                                </div>
                                <div class="col-4 justify-content-end">
                                    <div class="form-group row align-items-center">
                                        <label for="suscritoCorreo" class="col-auto mb-0">Correo</label>
                                        <input v-model="suscrito.correo" type="email" class="form-control col" id="suscritoCorreo"
                                  placeholder="Correo" >
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0">
                               
                                <div class="col-4">
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button @click="saveSuscrito(suscrito)" type="button" 
                                                class="btn btn-success">
                                                Registrar
                                            </button>
                                            <button @click="cancelar()" type="button"
                                                class="btn btn-danger">
                                                Cancelar
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	
	
	
	
	<div class="card mt-3">
                        <div class="card-header">
                            Lista de Suscritos
                        </div>
                        <div class="card-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="suscrito in suscritos" :key="suscrito.codigo">
      <th scope="row">{{suscrito.codigo}}</th>
      <td>{{suscrito.nombre}}</td>
      <td>{{suscrito.correo}}</td>
      <td>
      <button @click='editar(suscrito)' type="button" 
      class="btn btn-warning">Editar</button>
      </td>
      <td>
      <button @click='eliminarSuscrito(suscrito)' type="button" 
      class="btn btn-danger">Eliminar</button></td>
    </tr>
  
  </tbody>
</table>


</div></div>
	
	
<!-- 		fin del div principal -->
</div>

  
  
  
    <script>
    
    var app = new Vue({
        el: '#app',
        data: { // inicializa
           titulo:"CRUD de SUSCRITO",
           suscrito:{nombre:'',correo:''}, //inicializando el objeto
           suscritos:[],  //inicializar el vector
           apiURL:'http://localhost:8080/api'
        },
        created(){ //se ejecuta una vez inicializado el objeto Vue
        	
        	console.log(localStorage.getItem("token"));
            Vue.axios.defaults.headers.common['Authorization'] ='Bearer '+ localStorage.getItem("token");


        },
        mounted() { //esta parte se ejecuta una vez cargado el DOM
            this.getSuscritos();//invocación del método
        
        
        },
        methods: { //se necesita invocar para que se ejecute
        	
        	getSuscritos() {
            	Vue.axios.get(this.apiURL + '/suscritos')
            	  .then(response => {
            		  this.suscritos = response.data
            		  console.log(response.data);
            	  }).catch(error => console.log(error))
            	}, //Fin metodo de consulta
            	saveSuscrito(suscrito) { 
                	if(this.suscrito.codigo===""||this.suscrito.codigo===null){
                	delete	this.suscrito.codigo;
                			//para registrar un suscrito nuevo.
                	}
                
                	Vue.axios.post(this.apiURL+'/suscrito',suscrito)
              	  .then(response => { //si funciona
              	 			console.log('Funciona');
              	 			
              	 			this.getSuscritos();
              	 			
              	 			this.cancelar();
              	 			
              	  }).catch(error => console.log(error))
                    
                   
                },//fin metodo de registro
   
                eliminarSuscrito(suscrito) {
                	Vue.axios.delete(this.apiURL+'/suscrito/'+suscrito.codigo)
                	  .then(response => {
                		  	console.log('Eliminado');
                		  	
                		  	this.getSuscritos();
                		  	
                	  }).catch(error => console.log(error))    
                },
                cancelar(){
                	this.suscrito={};
                },
                editar(suscrito){
                	this.suscrito.codigo=suscrito.codigo;
                	this.suscrito.nombre=suscrito.nombre;
                	this.suscrito.correo=suscrito.correo;
                	
                	
                	
                }



        	
        	
        }
    });

    
    
    
    </script>




   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../lib/js/jquery-3.4.1.min.js"></script>
    <script src="../../lib/js/popper.min.js"></script>
    <script src="../../lib/js/bootstrap.min.js"></script>
</body>
</html>
